<ion-content>
<div id="header">

<div id="logo">
  <img src="assets/images/logoinicio.png" alt="logo">
</div>
<ion-card-title id="title">CovidDetect</ion-card-title>
</div>
<ion-card class="ion-padding">
  <ion-card-content>
    <ion-card-title >Bienvenido a CovidDetect</ion-card-title>
    
    <ion-button (click)="goToLogin()" expand="block">Iniciar sesión
      
    </ion-button>
    
    <ion-button (click)="gotoRegister()" expand="block" fill="outline">Registrate</ion-button>
  </ion-card-content>
</ion-card>

</ion-content>
