<ion-header class="ion-no-boarder">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets\images\header.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="title" >
        ¡Te damos la bienvenida!
      </ion-card-title>
     
    </ion-card-header>
    <ion-card-content>
      <div class="botones_logins">
        <ion-button fill="solid" shape="round" class="loginbtn">Login</ion-button>
        <ion-button fill="outline" shape="round" color="white" class="registrarsebtn">Registrase</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
