// div.table{
//     padding: 20px;
//     text-align: center;
// }
// div.row{
//     margin-top: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
h3{
    padding: 20px;
    justify-content: center;
    text-align: center;
}
