
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToLogin()" defaultHref="back-login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="guardarDatos()">
    <ion-card id="registerForm">
      <ion-card-header>
        <ion-card-title>Sign up</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card>
          <ion-item><ion-input  formControlName="cedula" placeholder="ID"></ion-input></ion-item>
      </ion-card>
        <ion-card>
          <ion-item><ion-input formControlName="nombre"  placeholder="First names"></ion-input></ion-item>
      </ion-card>
      <ion-card>
        <ion-item><ion-input  formControlName="apellido" placeholder="Last names"></ion-input></ion-item>
    </ion-card>
    <ion-card>
      <ion-item><ion-input formControlName="institucion"   placeholder="Institution"></ion-input></ion-item>
    </ion-card>
     <ion-card>
     <ion-item><ion-input  formControlName="direccion" placeholder="Address"></ion-input></ion-item>
     </ion-card>
     <ion-card>
      <ion-item><ion-input formControlName="telefono"  placeholder="Phone Number"></ion-input></ion-item>
      </ion-card>
      <ion-card>
        <ion-item><ion-input  formControlName="email" placeholder="E-mail"></ion-input></ion-item>
      </ion-card>
      <ion-card>
        <ion-item><ion-input formControlName="repeatemail"  placeholder="Confirm e-mail"></ion-input></ion-item>
      </ion-card>
      <ion-card>
        <ion-item><ion-input type="password" formControlName="password" placeholder="Password"></ion-input></ion-item>
      </ion-card>
      <ion-card>
        <ion-item><ion-input type="password" formControlName="repeatepassword" placeholder="Confirm password"></ion-input></ion-item>
      </ion-card>
      <ion-button type="enter" id="Continuar" type="reset" shape="round" type= "submit" expand="block">Continue</ion-button>
      </ion-card-content>
      <div class="validation-error">
        
        <ng-container *ngFor="let validation of validation_messages.cedula">
          <div *ngIf="registerForm.get('cedula').hasError(validation.type) && (registerForm.get('cedula').dirty || registerForm.get('cedula').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-error">
        
        <ng-container *ngFor="let validation of validation_messages.nombre">
          <div *ngIf="registerForm.get('nombre').hasError(validation.type) && (registerForm.get('nombre').dirty || registerForm.get('nombre').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.apellido">
          <div
            *ngIf="
              registerForm.get('apellido').hasError(validation.type) &&
              (registerForm.get('apellido').dirty ||
                registerForm.get('apellido').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.institucion">
          <div
            *ngIf="
              registerForm.get('institucion').hasError(validation.type) &&
              (registerForm.get('institucion').dirty ||
                registerForm.get('institucion').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.direccion">
          <div *ngIf="registerForm.get('direccion').hasError(validation.type) && (registerForm.get('direccion').dirty || registerForm.get('direccion').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.telefono">
          <div *ngIf="registerForm.get('telefono').hasError(validation.type) && (registerForm.get('telefono').dirty || registerForm.get('telefono').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>  
      {{errorMessage}}
    </ion-card>
    
     
  
  </form>
</ion-content>