

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets\images\home_img.webp">
    <ion-card-header>
      <ion-card-title>Asistente de detección de Covid</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <div class="container">
        <img [src]="imgURL" height="200" width="200" />
        
       
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-content>
  <ion-item>
    <!-- <input type="file"  /> -->

  </ion-item>
  <!-- <ion-input type="file" (click)="onFileChange($event)"></ion-input> -->
  
<!--   
  <ion-button  type="file" color="primary" expand="full" (click)="uploadPhoto($event)"
    >Upload</ion-button -->
  
</ion-content>